<div class="jumbotron" data-ng-controller="PublicationController">
    <!-- <p>
        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Инструкция по поиску
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Нужно ...
        </div>
    </div> -->
    <h1>Публикации
        <i class="btn material-icons md-36" data-ng-click="" ng-if="curUserSystem.is_admin">add_circle_outline</i>
    </h1>
    <div class="container-fluid">
        <form>
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="publicationId">id публикации</label>
                    <input type="number" class="form-control" id="publicationId" placeholder="id публикации" data-ng-model="paramsFind.id">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="publicationDate">Год публикации</label>
                    <input type="number" class="form-control" id="publicationDate" placeholder="Год публикации" data-ng-model="paramsFind.datepub">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="publicationTitle">Название</label>
                    <input type="text" class="form-control" id="publicationTitle" placeholder="Название" data-ng-model="paramsFind.titles">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="publicationEditor">Издание</label>
                    <input type="text" class="form-control" id="publicationEditor" placeholder="Издание" data-ng-model="paramsFind.editor">
                </div>
            </div>
            <div class="form-inline mb-3">
                <list-checkboxs checkboxes="listCheckboxes"></list-checkboxs>
            </div>
            <div class="form-inline mb-3">
                <h5>Авторы
                    <span class="badge badge-dark">Ф - фамилия</span>
                    <span class="badge badge-dark">И - имя</span>
                    <span class="badge badge-dark">О - отчетсво</span>
                    <i class="btn material-icons md-24" ng-click="newFilterAuthor()">add_circle_outline</i>
                </h5>
            </div>
            <div class="form-inline mb-3">
                <div ng-repeat="author in paramsFind.authors">
                    <p class="btn btn-secondary mr-2">
                        <!-- {{author.lastname ? 'Ф: ' + author.lastname : ''}} {{author.firstname ? 'И: ' + author.firstname: ''}} {{author.patronymic
                        ? 'О: ' + author.patronymic : ''}} -->
                        <span class="badge badge-dark" ng-if="author.lastname">Ф</span> {{author.lastname}}
                        <span class="badge badge-dark" ng-if="author.firstname">И</span> {{author.firstname}}
                        <span class="badge badge-dark" ng-if="author.patronymic">О</span> {{author.patronymic}}

                        <button type="button" class="close ml-2" ng-click="removeFilterAuthor(author)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
                <!-- <button type="button" class="btn btn-dark material-icons mb-3" ng-click="newFilterAuthor()">add</button> -->
            </div>
            <button type="submit" class="btn btn-dark mb-2" data-ng-click="find(callbackAuthorsFinded)">Поиск</button>
        </form>
        <div id="accordion">
            <div data-ng-repeat="publication in publications">
                <div class="card mb-2">
                    <div class="card-header bg-dark row" id="heading{{publication.id}}">
                        <div class="col-md-9">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse{{publication.id}}" aria-expanded="true"
                                    aria-controls="collapse{{publication.id}}">
                                    {{publication.id}}: {{publication.titles[0].title}}
                                </button>
                            </h5>
                        </div>
                        <div class="col-md-3 text-white text-right">
                            <i class="btn material-icons">visibility</i>
                            <i class="btn material-icons">get_app</i>
                            <i class="btn material-icons" ng-if="curUserSystem.is_admin">mode_edit</i>
                            <i class="btn material-icons" ng-if="curUserSystem.is_admin">delete_forever</i>
                        </div>
                    </div>

                    <div id="collapse{{publication.id}}" class="collapse" aria-labelledby="heading{{publication.id}}" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-group col mb-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                    Год публикации
                                    <span class="badge badge-dark badge-pill">{{publication.datepub}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                    Высшая аттестационная комиссия
                                    <span class="badge badge-dark badge-pill">{{publication.is_vak ? 'Присутствует' : 'Отсутствует'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                    Российский индекс научного цитирования
                                    <span class="badge badge-dark badge-pill">{{publication.is_rince ? 'Присутствует' : 'Отсутствует'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                    WOS
                                    <span class="badge badge-dark badge-pill">{{publication.is_wos ? 'Присутствует' : 'Отсутствует'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                    Публикация в журнале Scope
                                    <span class="badge badge-dark badge-pill">{{publication.is_scope ? 'Присутствует' : 'Отсутствует'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                    DOI
                                    <span class="badge badge-dark badge-pill">{{publication.is_doi ? 'Присутствует' : 'Отсутствует'}}</span>
                                </li>
                            </ul>

                            <div class="table-responsive col mb-3" data-ng-if="publication.titles.length != 0">
                                <h5>Названия публикации</h5>
                                <table class="table table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">id названия</th>
                                            <th scope="col">Язык</th>
                                            <th scope="col">Название</th>
                                            <th scope="col">Дата создания</th>
                                            <th scope="col">Дата изменения</th>
                                        </tr>
                                    </thead>
                                    <tbody data-ng-repeat="title in publication.titles">
                                        <tr>
                                            <th scope="row">{{title.id}}</th>
                                            <td>{{title.lang}}</td>
                                            <td>{{title.title}}</td>
                                            <td>{{title.createdAt}}</td>
                                            <td>{{title.updatedAt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col mb-3" data-ng-if="publication.authors.length != 0">
                                <h5>Авторы</h5>
                                <div id="accordionAuthor{{publication.id}}" data-ng-repeat="author in publication.authors">
                                    <div class="card mb-2">
                                        <div class="card-header bg-dark row" id="headingAuthor{{author.id}}Pub{{publication.id}}">
                                            <h5 class="mb-0">
                                                <button class="text-white btn btn-link" data-toggle="collapse" data-target="#collapseAuthor{{author.id}}Pub{{publication.id}}"
                                                    aria-expanded="false" aria-controls="collapseAuthor{{author.id}}Pub{{publication.id}}">
                                                    {{author.id}}: {{author.names[0].lastname}} {{author.names[0].firstname}} {{author.names[0].patronymic}}
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseAuthor{{author.id}}Pub{{publication.id}}" class="collapse" aria-labelledby="headingAuthor{{author.id}}Pub{{publication.id}}"
                                            data-parent="#accordionAuthor{{publication.id}}">
                                            <div class="card-body">
                                                <div class="table-responsive" data-ng-if="author.names.length != 0">
                                                    <h5>Псевдонимы</h5>
                                                    <table class="table table-hover table-striped">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col">id псевдонима</th>
                                                                <th scope="col">Язык</th>
                                                                <th scope="col">Фамилия</th>
                                                                <th scope="col">Имя</th>
                                                                <th scope="col">Отчество</th>
                                                                <th scope="col">Дата создания</th>
                                                                <th scope="col">Дата изменения</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-ng-repeat="name in author.names">
                                                            <tr>
                                                                <th scope="row">{{name.id}}</th>
                                                                <td>{{name.lang}}</td>
                                                                <td>{{name.lastname}}</td>
                                                                <td>{{name.firstname}}</td>
                                                                <td>{{name.patronymic}}</td>
                                                                <td>{{name.createdAt}}</td>
                                                                <td>{{name.updatedAt}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-3" data-ng-if="publication.editor">
                                <h5>Издание</h5>
                                <div id="accordionEditor{{publication.id}}">
                                    <div class="card mb-2">
                                        <div class="card-header bg-dark" id="headingEditor{{publication.editor.id}}Pub{{publication.id}}">
                                            <h5 class="mb-0">
                                                <button class="text-white btn btn-link" data-toggle="collapse" data-target="#collapseEditor{{publication.editor.id}}Pub{{publication.id}}"
                                                    aria-expanded="false" aria-controls="collapseEditor{{publication.editor.id}}Pub{{publication.id}}">
                                                    {{publication.editor.id}}: {{publication.editor.titles[0].name}}
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseEditor{{publication.editor.id}}Pub{{publication.id}}" class="collapse" aria-labelledby="headingEditor{{publication.editor.id}}Pub{{publication.id}}"
                                            data-parent="#accordionEditor{{publication.id}}">
                                            <div class="card-body">
                                                <div class="table-responsive" data-ng-if="publication.editor.titles.length != 0">
                                                    <h5>Названия издания</h5>
                                                    <table class="table table-hover table-striped">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col">id названия</th>
                                                                <th scope="col">Язык</th>
                                                                <th scope="col">Название</th>
                                                                <th scope="col">Дата создания</th>
                                                                <th scope="col">Дата изменения</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-ng-repeat="title in publication.editor.titles">
                                                            <tr>
                                                                <th scope="row">{{title.id}}</th>
                                                                <td>{{title.lang}}</td>
                                                                <td>{{title.name}}</td>
                                                                <td>{{title.createdAt}}</td>
                                                                <td>{{title.updatedAt}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>