<div class="jumbotron" data-ng-controller="UserController">
    <h1>Пользователи</h1>
    <div class="container-fluid">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="userId" class="sr-only">id</label>
                <input type="text" class="form-control" id="userId" placeholder="id пользователя" data-ng-model="usersParams.id">
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <label for="inputLogin" class="sr-only">Логин</label>
                <input type="text" class="form-control" id="inputLogin" placeholder="Логин" data-ng-model="usersParams.login">
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" data-ng-model="usersParams.email">
            </div>
            <button type="submit" class="btn btn-dark mb-2" data-ng-click="search()">Поиск</button>
        </form>
        <div class="table-responsive" data-ng-if="users.length != 0">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Логин</th>
                        <th scope="col">Email</th>
                        <th scope="col">Права админа</th>
                        <th scope="col">Дата регистрации</th>
                        <th scope="col">Дата изменения</th>
                        <th scope="col" ng-if="curUserSystem.is_admin">Действия</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="user in users">
                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.login}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.is_admin}}</td>
                        <td>{{user.createdAt}}</td>
                        <td>{{user.updatedAt}}</td>
                        <td ng-if="curUserSystem.is_admin">
                            <div class="btn-group">
                                <i class="btn material-icons" data-ng-click="updateUser(user)">mode_edit</i>
                                <i class="btn material-icons" data-ng-click="removeUser(user)">delete_forever</i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>