<div class="text-center center-block" data-ng-controller="UserController">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

        <div class="alert alert-danger" role="alert" ng-if="user.errorLogin || user.errorEmail || user.error || user.errorPassword">
            {{user.error}}<br ng-if="user.error">
            {{user.errorLogin}}<br ng-if="user.errorLogin">
            {{user.errorEmail}}<br ng-if="user.errorEmail">
            {{user.errorPassword}}
        </div>

        <label for="inputLogin" class="sr-only">Логин</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required autofocus ng-model="user.login">

        <label for="inputEmail" class="sr-only">Email адрес</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email адрес" required ng-model="user.email">

        <label for="inputPassword1" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword1" class="form-control" placeholder="Пароль" required ng-model="user.password1">

        <label for="inputPassword2" class="sr-only">Подтверждение пароля</label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="Подтверждение пароля" required ng-model="user.password2">

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="user.join()">Отправить</button>
    </form>
</div>